@media only screen and (max-width: 1200px) {

    .main_title {
        font-size: 36px;
        line-height: 47px;
    }

    .home {
        .home_right {
            max-width: 461px;

            img {
                max-width: 461px;
            }
        }
    }

    .contact_block {
        margin-bottom: 45px;

        .contact_block_table_img {
            display: block;
            bottom: -50px;
        }

        .contact_block_desktop_img {
            display: none;
        }

        .contact_block_in {
            padding: 54px 20px 47px 30px;

            .contact_circle {
                width: 500px;
                height: 500px;
                top: 71px;
                right: -215px;
            }
        }

        .contact_block_left {
            h5 {
                font-size: 36px;
                line-height: 47px;
                margin-bottom: 33px;
            }

            h6 {
                font-size: 22px;
                line-height: 26px;
                margin-bottom: 60px;
            }

            ul {
                gap: 34px;
                max-width: 300px;

                li {
                    gap: 5px;

                    span {
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
            }
        }

        .contact_block_form {
            padding: 32px 24px;
            width: 310px;
            height: 355px;

            input {
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                margin-bottom: 30px;
            }

            span {
                margin-top: 15px;
            }
        }
    }

    .pay_successful {
        h5 {
            font-size: 78px;
            line-height: 101px;
        }

        p {
            font-size: 22px;
            line-height: 29px;
        }
    }

    .cost_classes {
        .cost_classes_cards {
            .cost_classes_card {
                padding: 44px 36px;

                h6 {
                    font-size: 20px;
                    line-height: 22px;
                }

                h5 {
                    margin: 14px 0 12px 0;
                    font-size: 42px;
                    line-height: 52px;
                }

                p {
                    margin: 15px 0;
                    font-size: 14px;
                    line-height: 18px;
                    height: 54px;
                }

                span {
                    font-size: 12px;
                    line-height: 20px;
                }

                .main_btn {
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }

    .pay {
        .contact_block_form {
            height: auto;
        }

        .contact_block_table_img {
            display: none;
            bottom: -50px;
        }

        .contact_block_desktop_img {
            display: block;
            width: 238px;
        }
    }

    .tutors_content {
        .main_title {
            padding: 35px 0 25px;
            margin: 0;
        }
    }

    .reviews {
        .main_form {
            display: none;
        }

        .reviews_in {
            max-width: 822px;
        }
    }

    .article {

        .main_container {
            gap: 30px;
        }

        .main_form {
            width: 308px;
        }

        h3 {
            font-size: 30px;
            line-height: 35px;
        }
    }

    .articles {

        .articles_cards {
            gap: 45px 30px;

            .articles_card {
                width: calc(100% / 3 - 20px);
            }
        }

        .articles_bottom {

            .articles_bottom_left {
                .rocket_icon {
                    width: 75px;
                    top: 28px;
                    right: 33px;
                }
            }

            .articles_bottom_right {
                .bottom_right_img {
                    img {
                        width: 145px;
                    }
                }

                .articles_right_btn {
                    width: 230px;
                }
            }
        }
    }

    .error {
        padding: 53px 0 132px 0;
        
        .main_container {
            gap: 50px;
        }

        .error_img {
            min-width: 310px;
        }

        .error_text {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .error_title {
            max-width: 572px;
            margin-bottom: 35px;
        }
    }
}

@media only screen and (min-width: 993px) {
    header {
        .header_media {
            display: none;
        }

        .header_media_bg {
            display: none;
        }

        .header_media_bg.active {
            display: none;
        }
    }
}

@media only screen and (max-width: 993px) {
    .main_container {
        padding: 0 84px;
    }

    header {

        .header_contact {
            span {
                display: none;
            }
        }

        .header_link {
            display: none;
        }

        .header_burger {
            display: flex;
        }
        
    }

    .home {
        .main_container {
            flex-direction: column-reverse;
            gap: 16px;
        }

        .home_left {
            ul {
                margin: 33px 0 15px 0;
            }

            .main_btn {
                text-align: center;
                width: 100%;
            }
        }

        .home_right {
            max-width: 502px;

            img {
                max-width: 100%;
            }
        }
    }

    .contact_block {
        .contact_block_in {
            padding: 40px 24px;
            gap: 50px;
            flex-direction: column;

            .contact_circle {
                top: auto;
                bottom: -70px;
                right: -250px;
            }
        }
        
        .contact_block_table_img {
            right: auto;
            left: -187px;
        }

        .contact_block_form {
            margin-left: auto;
        }

        .contact_block_table_img {
            margin-right: auto;
        }

        .contact_block_left  {
            h4 {
                text-align: center;
                font-size: 36px;
                line-height: 47px;
                margin-bottom: 24px;
            }

            h6 {
                color: rgb(255, 255, 255);
                font-size: 22px;
                font-weight: 400;
                line-height: 26px;
                text-align: center;
                margin-bottom: 48px;
            }

            ul {
                gap: 26px;
                max-width: 100%;

                a {
                    font-size: 18px;
                    line-height: 22px;
                }
            }
        }
    }

    .cost_classes {
        margin-bottom: 78px;

        .main_title {
            margin-bottom: 40px;
        }

        .cost_classes_cards {
            gap: 36px 27px;
            flex-wrap: wrap;

            .cost_classes_card {
                padding: 28px 18px 32px 18px;
                width: calc(100% / 2 - 20px);

                h6 {
                    margin-bottom: 10px;
                }

                h5 {
                    margin: 16px 0 2px 0;
                }

                p {
                    margin: 30px 0;
                }

                .main_btn {
                    width: 100%;
                    padding: 12px 30px;
                }
            }
        }
    }

    .pay_error {
        h5 {
            font-size: 32px;
            line-height: 18px;
        }

        .pay_error_content {
            img {
                width: 230px;
            }

            span {
                font-size: 18px;
                line-height: 22px;
            }

            p {
                font-size: 20px;
                line-height: 26px;
            }
        }

        .main_btn {
            padding: 15px;
            width: 230px;
            font-size: 16px;
        }
    }

    .pay {
        padding: 80px 0 45px;
        
        .contact_block_form {
            height: auto;
        }

        .contact_block_table_img {
            display: block;
            bottom: -50px;
        }

        .contact_block_desktop_img {
            display: none;
            width: 238px;
        }
    }

    .error {
        padding: 53px 0 118px 0;

        .main_container {
            flex-direction: column-reverse;
            gap: 45px;
        }

        .error_title {
            margin-bottom: 45px;
        }
    }

    .tutors_head {
        margin: 90px 0 200px 0;

        h5 {
            font-size: 40px;
            line-height: 52px;
        }
    }

    .tutors_content {
        .main_title {
            padding: 35px 0 25px;
        }

        .accordion_btn {
            padding: 24px 0;

            span {
                font-size: 18px;
                line-height: 22px;
            }

            img {
                width: 24px;
            }
        }

        .content {
            p {
                font-size: 14px;
                line-height: 25px;
                padding-bottom: 24px;
            }
        }

        .tutors_text {
            p {
                font-size: 16px;
                line-height: 23px;
            }
        }
    }

    .contact_head {

        .contact_head_in {
            padding: 40px 0 40px 56px;
        }

        .contact_head_img {
            max-width: 266px;
        }

        .top_title {
            display: block;   
            margin-bottom: 0;
        }

        .contact_title {
            display: none;
        }

        .main_btn {
            font-size: 16px;
            width: 260px;
        }
    }

    .article {
        .main_form {
            display: none;
        }

        .article_in {
            gap: 20px;
        }
    }

    .articles {
        .articles_cards {
            gap: 36px;

            .articles_card {
                width: 100%;

                img {
                    width: 100%;
                }

                h6 {
                    font-size: 22px;
                    line-height: 26px;
                }

                p {
                    margin: 8px 0 14px;
                }

                .article_date {
                    gap: 8px;
                }
            }
        }

        .articles_bottom {
            flex-direction: column;
            gap: 20px;

            .articles_bottom_left {
                padding: 30px;

                .rocket_icon {
                    width: 105px;
                }
            }

            .articles_bottom_card {
                width: 100%;
            }
        }
    }

    footer {
        .main_container {
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;

            .footer_block {
                width: calc(100% / 2 - 10px);
            }

            ul {
                gap: 15px;
            }

            .footer_left {
                order: 1;
            }

            .footer_list_one {
                order: 2;
            }

            .footer_list_two {
                order: 4;
            }

            .footer_network {
                order: 3;
            }

        }
    }
}

@media only screen and (max-width: 750px) {
    .contact_head {
        .contact_head_in {
            padding: 16px 25px;
        }

        .contact_head_img {
            max-width: 250px;
        }
    }
}

@media only screen and (max-width: 650px) {

    .main_container {
        padding: 0 15px;
    }

    .main_title {
        font-size: 22px;
        line-height: 26px;
    }

    header {

        .main_container {
            gap: 10px;
        }

        .header_contact {
            display: none;
        }
    }

    .home {
        .home_left {
            ul {
                gap: 5px;
                margin: 32px 0;
                li {
                    font-size: 16px;
                    line-height: 20px;
                }
            }

            .main_btn {
                padding: 12px 30px;
            }
        }
    }

    .contact_block {
        .contact_block_table_img {
            display: none;
        }

        .contact_block_form {
            width: 100%;
        }

        .contact_block_in {
            padding: 24px 14px;
            gap: 33px;

            .contact_circle {
                width: 400px;
                height: 400px;
                bottom: -10px;
            }
        }

        .contact_block_left {
            h4 {
                br {
                    display: none;
                }

                font-size: 30px;
                line-height: 29px;
                margin-bottom: 20px;
            }

            h6 {
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 33px;
            }

            ul {
                li {
                    img {
                        width: 20px;
                    }

                    span {
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }
        }

        .contact_block_form {
            padding: 32px 41px;

            .main_btn {
                font-size: 17px;
                line-height: 20px;
            }

            input {
                font-size: 16px;
                line-height: 20px;
            }

            span {
                font-size: 10px;
                line-height: 12px;
                a {
                    border-bottom: 1px solid;
                }
            }
        }
    }

    .cost_classes {
        margin-bottom: 70px;

        .cost_classes_cards {
            gap: 23px;

            .cost_classes_card {
                padding: 28px 57px 32px 57px; 
                width: 100%;

                h6 {
                    font-size: 18px;
                    line-height: 22px;
                    margin-bottom: 5px;
                }

                h5 {
                    margin: 9px 0 1px 0;
                    font-size: 30px;
                    line-height: 39px;
                }

                p {
                    margin: 22px 0 17px 0;
                    font-size: 16px;
                    line-height: 20px;
                    height: auto;
                }

                .main_btn {
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }
    }

    .pay_successful {
        padding: 45px 0 266px 0;

        h5 {
            margin: 80px auto 45px auto;
            font-size: 30px;
            line-height: 39px;
        }

        p {
            font-size: 20px;
            line-height: 26px;
        }
    }

    .pay_error {
        h5 {
            font-size: 24px;
            line-height: 18px;
        }
    }

    .error {
        padding: 53px 0 78px 0;

        .error_title {
            max-width: 356px;
        }

        .error_content {
            p {
                font-size: 16px;
                line-height: 26px;
            }

            .main_btn {
                font-size: 16px;
                line-height: 18px;
            }
        }

        .error_img {
            min-width: 240px;
            width: 240px;

            img {
                width: 100%;
            }
        }
    }

    .tutors_content {
        .main_title {
            text-align: center;
            padding: 25px 0 40px;
        }

        .accordion_btn {
            padding: 15px 0;

            span {
                font-size: 16px;
            }
        }

        .content {
            p {
                font-size: 12px;    
                line-height: 17px;
                padding-bottom: 15px;

            }
        }

        .tutors_text {
            display: flex;
            flex-direction: column;
            gap: 5px;

            br {
                display: none;
            }
        }
    }

    .tutors_head {
        margin: 80px 0 190px 0;

        h5 {
            font-size: 40px;
            line-height: 52px;
        }

        ul {
            a {
                padding: 20px 0;
            }
    
            span {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }
    
    .contact_head {
        margin-bottom: 80px;

        .contact_head_in {
            padding: 16px 25px;
        }

        .contact_head_wrapper {
            flex-direction: column;
            gap: 10px;
        }

        .top_title {
            margin-bottom: 24px;
        }

        .contact_head_text {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        ul {
            max-width: 100%;
            gap: 20px;
            margin-bottom: 24px;

            img {
                width: 25px;
            }
        }

        .main_btn {
            width: 100%;
            padding: 10px 5px;
        }
    }

    .reviews {
        .main_title {
            font-size: 30px;
            line-height: 35px;
        }

        .reviews_block {
            padding: 20px 24px;
        }

        h6 {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 16px;
        }

        p {
            font-size: 16px;
            line-height: 22px;
        }
    }

    .article {
        .article_in {
            gap: 15px;
        }

        h3 {
            font-size: 22px;
            line-height: 26px;
        }

        .article_date {
            span {
                font-size: 16px;
                line-height: 20px;
            }
        }

        p, b {
            font-size: 16px;
            line-height: 22px;
        }

        ol {
            li {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }

    .articles {
        .main_title {
            margin-bottom: 32px;
            font-size: 36px;
        }

        .articles_cards {
            gap: 24px;

            .articles_card {
                h6 {
                    margin-top: 12px;
                    font-size: 16px;
                    line-height: 18px;
                }

                p {
                    margin: 8px 0;
                    font-size: 12px;
                    line-height: 20px;
                }

                .article_date {
                    gap: 8px;

                    span {
                        font-size: 12px;
                        line-height: 20px;
                    }
                }
            }
        }

        .pagination {
            margin-bottom: 80px;
        }

        .articles_bottom {
            .articles_bottom_left {
                padding: 30px 20px 20px 30px;
                h6 {
                    max-width: 190px;
                    margin-bottom: 27px;
                }

                .rocket_icon {
                    width: 75px;
                }

                .articles_bottom_left_btns  {
                    a {
                        padding: 4px 20px;

                        img {
                            width: 36px;
                            height: 36px;
                        }
                    }
                }
            }

            .articles_bottom_right {
                .bottom_right_img  {
                    img {
                        right: -10px;
                        width: 130px;
                    }
                }

                .circle_top {
                    left: -48px;
                    top: -230px;
                }

                .circle_bottom {
                    bottom: -155px;
                    right: -155px;
                }

                .articles_right_btn {
                    width: 200px;
                }
            }
        }
    }

    .tutor_page {
        .tutor_page_user {
            flex-direction: column;
            gap: 28px;
            margin-bottom: 50px;
        }

        .tutor_page_user_left {
            width: 100%;
            gap: 15px;
            flex-direction: row;

            .desktop_btns {
                display: none;
            }

            .user_img {
                width: 146px;
            }

            .tutor_page_user_mobile {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h6 {
                    margin-bottom: 8px;
                }

                a {
                    padding: 8px;
                }

            }
        }

        .tutor_page_user_right {

            .tutor_user_right_top {

                h6, 
                p {
                    display: none;
                }

                .tutor_anons {
                    margin-bottom: 13px;
                    p {
                        display: block;
                    }
                }
            }

            .tutor_page_list {
                margin: 50px 0;
                gap: 20px;
            }

            .tutor_format {
                margin-bottom: 50px;
            }

            .tutor_comment {
                .tutor_comment_block {
                    gap: 20px;
                }
            }
        }
        
    }

    footer {
        .main_container {
            padding: 0 15px;
            gap: 12px;

            .footer_block {
                width: 100%;
            }

            .footer_left {
                order: 1;
            }

            .footer_list_one {
                order: 2;
            }

            ul {
                gap: 12px;
            }

            .footer_list_two {
                order: 3;
            }

            .footer_network {
                order: 4;
            }

            .footer_network {
                margin-top: 12px;
                .footer_social_network {
                    margin-bottom: 24px;
                }
            }

            .footer_left {
                margin-bottom: 12px;
            }
        }
    }
}