@font-face {
    font-family: "ONY-FORM Digital PROFI Regular";
    src: url("../fonts/ONY-FORM-Digital-PROFI-normal-400-100.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "ONY-FORM Digital PROFI Medium";
    src: url("../fonts/ONY-FORM-Digital-PROFI-Medium-normal-600-100.ttf");
    font-weight: 500;
}

// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-column {
    flex-direction: column;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .2s ease;
}
// mixin

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

a:hover {
    color: inherit;
}

img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'ONY-FORM Digital PROFI Regular',sans-serif;
    font-style: normal;
}

input {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0 ;
}

address {
    font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
label {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.main_container {
    max-width: 1264px;
    padding: 0 32px;
    margin: 0 auto;
}

.main_btn {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    border-radius: 5px;
    background: rgb(255, 111, 54);
}

// header
header {
    padding: 15px 0;

    .main_container {
        @include flex-center();
        justify-content: space-between;
    }

    .header_left {
        @include flex-center();
        gap: 55px;

        .header_link {
            color: rgb(0, 0, 0);
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
        }
    }

    .header_contact {
        @include flex-center();
        gap: 8px;

        span {
            color: rgb(0, 0, 0);
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
        }
    }

    .header_right {
        @include flex-center();
        gap: 30px;
    }

    .header_burger {
        display: none;
        align-items: center;
        justify-content: center;
    }

    .header_media_bg {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(255,255,255,0.2);
        backdrop-filter: blur(2px);
    }

    .header_media_bg.active {
        display: block;
    }

    .header_media {
        max-width: 260px;
        position: fixed;
        z-index: 3;
        top: 0;
        right: -100%;
        height: 100dvh;
        padding: 60px 40px 38px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: rgb(17, 17, 17);
        @include transition();

        .header_media_close {
            position: absolute;
            top: 5px;
            right: 5px;
        }

        .header_media_bottom {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .more_repetitor {
            color: rgb(255, 255, 255);
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            border-radius: 7px;
            padding: 12px;
            background: rgb(117, 131, 255);
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 17px;

            a {
                color: rgb(255, 255, 255);
                font-size: 22px;
                font-weight: 400;
                line-height: 26px;
            }
        }

        .header_media_phone {
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
        }
    }

    .header_media.active {
        right: 0;
    }
}
// header


// footer
footer {
    overflow: hidden;
    border-radius: 35px 35px 0px 0px;
    background: rgb(250, 250, 250);
    padding: 45px 0;

    .main_container {
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;

        a {
            font-family: "ONY-FORM Digital PROFI Medium";
            color: rgb(0, 0, 0);
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
        }
    }

    .footer_network {
        display: flex;
        flex-direction: column;

        .footer_social_network {
            display: flex;
            gap: 28px;
            margin-bottom: 36px;

            a {
                @include flex-center();
                gap: 8px;
                color: rgb(0, 0, 0);
                font-size: 16px;
                font-weight: 400;
                line-height: 18px;
            }
        }

        a {
            font-family: "ONY-FORM Digital PROFI Medium";
            color: rgb(0, 0, 0);
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
        }
    }

    .footer_left {
        span {
            color: rgb(0, 0, 0);
            font-family: "ONY-FORM Digital PROFI Medium";
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
        }
    }
}
// footer


@import './responsive';