@font-face {
  font-family: "ONY-FORM Digital PROFI Regular";
  src: url("../fonts/ONY-FORM-Digital-PROFI-normal-400-100.ttf");
}
@font-face {
  font-family: "ONY-FORM Digital PROFI Medium";
  src: url("../fonts/ONY-FORM-Digital-PROFI-Medium-normal-600-100.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

a:hover {
  color: inherit;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "ONY-FORM Digital PROFI Medium";
  font-style: normal;
}

input {
  font-family: "ONY-FORM Digital PROFI Medium";
  outline: none;
}

button {
  font-family: "ONY-FORM Digital PROFI Medium";
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
label {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.main_container {
  max-width: 1264px;
  padding: 0 32px;
  margin: 0 auto;
}

.main_btn {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  border-radius: 5px;
  background: rgb(255, 111, 54);
}

.main_title {
  color: rgb(0, 0, 0);
  font-size: 42px;
  font-weight: 400;
  line-height: 52px;
}

header {
  padding: 15px 0;
}
header .main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header_left {
  display: flex;
  align-items: center;
  gap: 55px;
}
header .header_left .header_link {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
header .header_contact {
  display: flex;
  align-items: center;
  gap: 8px;
}
header .header_contact span {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
header .header_right {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .header_burger {
  display: none;
  align-items: center;
  justify-content: center;
}
header .header_media_bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 4;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
header .header_media_bg.active {
  display: block;
}
header .header_media {
  max-width: 260px;
  position: fixed;
  z-index: 5;
  top: 0;
  right: -100%;
  height: 100dvh;
  padding: 60px 40px 38px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(17, 17, 17);
  transition: 0.2s ease;
}
header .header_media .header_media_close {
  position: absolute;
  top: 5px;
  right: 5px;
}
header .header_media .header_media_bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
header .header_media .more_repetitor {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 7px;
  padding: 12px;
  background: rgb(117, 131, 255);
}
header .header_media ul {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
header .header_media ul a {
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}
header .header_media .header_media_phone {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
header .header_media.active {
  right: 0;
}

.contact_block {
  margin-bottom: 90px;
}
.contact_block .contact_block_in {
  position: relative;
  padding: 45px;
  border-radius: 15px;
  background: rgb(99, 71, 255);
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.contact_block .contact_block_in .contact_circle {
  z-index: 1;
  width: 540px;
  height: 540px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  opacity: 0.35;
  position: absolute;
  top: 25px;
  bottom: 0;
  right: -140px;
}
.contact_block .contact_block_desktop_img {
  position: absolute;
  left: -50px;
  right: 0;
  bottom: -55px;
  margin: 0 auto;
}
.contact_block .contact_block_table_img {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -55px;
  margin: 0 auto;
}
.contact_block .contact_block_left h4 {
  color: rgb(255, 255, 255);
  font-size: 42px;
  font-weight: 400;
  line-height: 52px;
  margin-bottom: 26px;
}
.contact_block .contact_block_left h6 {
  color: rgb(255, 255, 255);
  font-size: 27px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 52px;
}
.contact_block .contact_block_left ul {
  max-width: 325px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.contact_block .contact_block_left ul li {
  display: flex;
  align-items: center;
  gap: 28px;
}
.contact_block .contact_block_left ul li span {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
.contact_block .contact_block_form {
  position: relative;
  z-index: 2;
  width: 387px;
  height: 378px;
  padding: 56px 38px 32px 38px;
  border-radius: 15px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}
.contact_block .contact_block_form input {
  margin-bottom: 37px;
  outline: none;
  color: rgb(140, 140, 140);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 12px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.contact_block .contact_block_form .tel {
  margin-bottom: 23px;
}
.contact_block .contact_block_form .main_btn {
  padding: 15px 0;
}
.contact_block .contact_block_form span {
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 5px;
  text-align: center;
}

.cost_classes {
  margin-bottom: 89px;
}
.cost_classes .main_title {
  text-align: center;
  margin-bottom: 45px;
}
.cost_classes .cost_classes_cards {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.cost_classes .cost_classes_card {
  width: 258px;
  text-align: center;
  padding: 40px 42px;
  box-sizing: border-box;
  border: 1px solid rgb(219, 229, 255);
  border-radius: 15px;
  background: rgb(255, 255, 255);
  transition: 0.2s ease;
}
.cost_classes .cost_classes_card h6 {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
}
.cost_classes .cost_classes_card h5 {
  font-family: "ONY-FORM Digital PROFI Medium";
  color: rgb(0, 0, 0);
  font-size: 42px;
  font-weight: 500;
  line-height: 52px;
  margin: 20px 0;
}
.cost_classes .cost_classes_card span {
  color: rgb(140, 140, 140);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.cost_classes .cost_classes_card p {
  margin: 28px 0 17px 0;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  height: 72px;
}
.cost_classes .cost_classes_card .main_btn {
  padding: 15px 30px;
  transition: 0.2s ease;
}
.cost_classes .cost_classes_card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.cost_classes .cost_classes_card:hover .main_btn {
  color: #fff;
  background: rgb(99, 71, 255);
}

footer {
  position: relative;
  z-index: 2;
  overflow: hidden;
  border-radius: 35px 35px 0px 0px;
  background: rgb(250, 250, 250);
  padding: 45px 0;
}
footer .main_container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer ul a {
  font-family: "ONY-FORM Digital PROFI Medium";
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
footer .footer_network {
  display: flex;
  flex-direction: column;
}
footer .footer_network .footer_social_network {
  display: flex;
  gap: 28px;
  margin-bottom: 36px;
}
footer .footer_network .footer_social_network a {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
footer .footer_network a {
  font-family: "ONY-FORM Digital PROFI Medium";
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
footer .footer_left span {
  color: rgb(0, 0, 0);
  font-family: "ONY-FORM Digital PROFI Medium";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

@media only screen and (max-width: 1200px) {
  .main_title {
    font-size: 36px;
    line-height: 47px;
  }
  .contact_block {
    margin-bottom: 45px;
  }
  .contact_block .contact_block_table_img {
    display: block;
    bottom: -50px;
  }
  .contact_block .contact_block_desktop_img {
    display: none;
  }
  .contact_block .contact_block_in {
    padding: 54px 20px 47px 30px;
  }
  .contact_block .contact_block_in .contact_circle {
    width: 500px;
    height: 500px;
    top: 71px;
    right: -215px;
  }
  .contact_block .contact_block_left h5 {
    font-size: 36px;
    line-height: 47px;
    margin-bottom: 33px;
  }
  .contact_block .contact_block_left h6 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 60px;
  }
  .contact_block .contact_block_left ul {
    gap: 34px;
    max-width: 300px;
  }
  .contact_block .contact_block_left ul li {
    gap: 5px;
  }
  .contact_block .contact_block_left ul li span {
    font-size: 18px;
    line-height: 22px;
  }
  .contact_block .contact_block_form {
    padding: 32px 24px;
    width: 310px;
    height: 355px;
  }
  .contact_block .contact_block_form input {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 30px;
  }
  .contact_block .contact_block_form span {
    margin-top: 15px;
  }
  .cost_classes .cost_classes_cards .cost_classes_card {
    padding: 44px 36px;
  }
  .cost_classes .cost_classes_cards .cost_classes_card h6 {
    font-size: 20px;
    line-height: 22px;
  }
  .cost_classes .cost_classes_cards .cost_classes_card h5 {
    margin: 14px 0 12px 0;
    font-size: 42px;
    line-height: 52px;
  }
  .cost_classes .cost_classes_cards .cost_classes_card p {
    margin: 15px 0;
    font-size: 14px;
    line-height: 18px;
    height: 54px;
  }
  .cost_classes .cost_classes_cards .cost_classes_card span {
    font-size: 12px;
    line-height: 20px;
  }
  .cost_classes .cost_classes_cards .cost_classes_card .main_btn {
    font-size: 14px;
    line-height: 18px;
  }
}
@media only screen and (min-width: 993px) {
  header .header_media {
    display: none;
  }
  header .header_media_bg {
    display: none;
  }
  header .header_media_bg.active {
    display: none;
  }
}
@media only screen and (max-width: 993px) {
  .main_container {
    padding: 0 84px;
  }
  header .header_contact span {
    display: none;
  }
  header .header_link {
    display: none;
  }
  header .header_burger {
    display: flex;
  }
  .contact_block .contact_block_in {
    padding: 40px 24px;
    gap: 50px;
    flex-direction: column;
  }
  .contact_block .contact_block_in .contact_circle {
    top: auto;
    bottom: -70px;
    right: -250px;
  }
  .contact_block .contact_block_table_img {
    right: auto;
    left: -187px;
  }
  .contact_block .contact_block_form {
    margin-left: auto;
  }
  .contact_block .contact_block_table_img {
    margin-right: auto;
  }
  .contact_block .contact_block_left h4 {
    text-align: center;
    font-size: 36px;
    line-height: 47px;
    margin-bottom: 24px;
  }
  .contact_block .contact_block_left h6 {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 48px;
  }
  .contact_block .contact_block_left ul {
    gap: 26px;
    max-width: 100%;
  }
  .contact_block .contact_block_left ul a {
    font-size: 18px;
    line-height: 22px;
  }
  .cost_classes .cost_classes_cards {
    gap: 36px 27px;
    flex-wrap: wrap;
  }
  .cost_classes .cost_classes_cards .cost_classes_card {
    width: calc(50% - 20px);
  }
  footer .main_container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  footer .main_container .footer_block {
    width: calc(50% - 10px);
  }
  footer .main_container ul {
    gap: 15px;
  }
  footer .main_container .footer_left {
    order: 1;
  }
  footer .main_container .footer_list_one {
    order: 2;
  }
  footer .main_container .footer_list_two {
    order: 4;
  }
  footer .main_container .footer_network {
    order: 3;
  }
}
@media only screen and (max-width: 650px) {
  .main_container {
    padding: 0 15px;
  }
  header .main_container {
    gap: 10px;
  }
  header .header_contact {
    display: none;
  }
  .contact_block .contact_block_table_img {
    display: none;
  }
  .contact_block .contact_block_form {
    width: 100%;
  }
  .contact_block .contact_block_in {
    padding: 24px 14px;
    gap: 33px;
  }
  .contact_block .contact_block_in .contact_circle {
    width: 400px;
    height: 400px;
    bottom: -10px;
  }
  .contact_block .contact_block_left h4 {
    font-size: 30px;
    line-height: 29px;
    margin-bottom: 20px;
  }
  .contact_block .contact_block_left h4 br {
    display: none;
  }
  .contact_block .contact_block_left h6 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 33px;
  }
  .contact_block .contact_block_left ul li img {
    width: 20px;
  }
  .contact_block .contact_block_left ul li span {
    font-size: 16px;
    line-height: 20px;
  }
  .contact_block .contact_block_form {
    padding: 32px 41px;
  }
  .contact_block .contact_block_form .main_btn {
    font-size: 17px;
    line-height: 20px;
  }
  .contact_block .contact_block_form input {
    font-size: 16px;
    line-height: 20px;
  }
  .contact_block .contact_block_form span {
    font-size: 10px;
    line-height: 12px;
  }
  .contact_block .contact_block_form span a {
    border-bottom: 1px solid;
  }
  footer .main_container {
    padding: 0 15px;
    gap: 12px;
  }
  footer .main_container .footer_block {
    width: 100%;
  }
  footer .main_container .footer_left {
    order: 1;
  }
  footer .main_container .footer_list_one {
    order: 2;
  }
  footer .main_container ul {
    gap: 12px;
  }
  footer .main_container .footer_list_two {
    order: 3;
  }
  footer .main_container .footer_network {
    order: 4;
  }
  footer .main_container .footer_network {
    margin-top: 12px;
  }
  footer .main_container .footer_network .footer_social_network {
    margin-bottom: 24px;
  }
  footer .main_container .footer_left {
    margin-bottom: 12px;
  }
}/*# sourceMappingURL=style.css.map */